*.css linguist-detectable=false
*.html linguist-detectable=false
*.htm linguist-detectable=false
*.toc linguist-detectable=false
*.py linguist-detectable=true
dist/* linguist-vendored
build/ linguist-vendored